<div class="container-register">
  <div class="register-form">
    <div class="content-top">
         
        <h2>Đăng ký tài khoản</h2>
       
    </div>
    <form action="/account/store" method="POST" class="form" id="form-1">
      <div class="form-group">
        <label for="fullname" class="form-label">Họ Tên</label>
        <input id="fullname" value="{{value}}" name="username" type="text" placeholder="Name" class="form-control">
        <span  class="form-message"></span>
      </div>

      <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input id="email" name="email" type="email" placeholder="VD: email@domain.com" class="form-control">
        <span  class="form-message">{{err}}</span>
      </div>

      <div class="form-group">
        <label for="password" class="form-label">Mật khẩu</label>
        <input id="password" name="password" type="password" placeholder="Nhập mật khẩu" class="form-control">
        <span class="form-message"></span>
      </div>

      <div class="form-group">
        <label for="password_confirmation" class="form-label">Nhập lại mật khẩu</label>
        <input id="password_confirmation" name="password_confirm" placeholder="Nhập lại mật khẩu" type="password"
          class="form-control">
        <span class="form-message"></span>
      </div>

      <button class="form-submit">Đăng ký</button>
    </form>
  </div>
</div>

<script>
 
document.addEventListener('DOMContentLoaded', function () {
    Validator({
      form: '#form-1',
      formGroupSelector: '.form-group',
      errorSelector: '.form-message',
      rules: [
        Validator.isRequired('#fullname', 'Vui lòng nhập tên đầy đủ của bạn'),
        Validator.isRequired('#password',),
        Validator.isRequired('#email',),
        Validator.isEmail('#email'),
        Validator.minLength('#password', 6),
        Validator.isRequired('#password_confirmation'),
        Validator.isConfirmed('#password_confirmation', function () {
          return document.querySelector('#form-1 #password').value;
        }, 'Mật khẩu nhập lại không chính xác')
      ],
      // CallonSubmit: function (data) {
        // Call API
       // console.log(data);
     // }
    });
  });

</script>